body {
    font-family: 'Nunito', sans-serif;
}

.hero {
    background-image: url('/images/hero-bg.jpeg');
    width: 100%;
    height: 100vh;
    border-bottom-left-radius: 80px;
}

.navbar-header {
    position: absolute;
    width: 100%;
}

nav {
    a {
        color: white !important;
    }

    z-index: 999;
}

.most-popular-jobs {
    padding-top: 85px;
    padding-bottom: 85px;

    .popular-job-item {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        border-radius: 7px;
        border: 1px solid #d4d3d3;

        img {
            width: 50px;
            height: 50px;
        }

        button {
            border-radius: 40px;
            background-color: #dee8f8;
        }
    }
}


.features {
    padding: 40px;
}

.top-companies {
    padding: 110px;
    background-color: #f3f7fb;

    .top-company-image {
        img {
            width: 100px;
            height: 100px;
        }
    }

    button {
        border-radius: 40px;
        color: $primary;
        background-color: #dee8f8;
    }
}

.popular-categories{
    padding: 70px;
    .popular-category-item{
        border: 1px solid #d2d0d0;
        .popular-category-icon{
            padding: 20px;
            background-color:#ecedf2;
            border-radius: 10px;
            i{
                color: $primary;
                font-size: 40px;
            }
        }
    }
}
